@import "tailwindcss";

body{
    background-color: #fef1de;
    color: #ad3e04;
    margin: 0;
    padding: 0;
}

@theme {
    /* Background / neutrals */
    --color-beige: #f5ead7;

    --color-beige-accent: #fef1de;

    --color-flame: #d69330;

    --color-brown: #ad3e04;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fef1de !important; /* ✅ arrow color */
}